[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
keras = "*"
numpy = "*"
pillow = "*"
tensorflow = "*"
tqdm = "*"

[dev-packages]
black = "*"
build = "*"
data-science-types = "*"
flake8 = "*"
isort = "*"
mypy = "*"
pytest = "*"

[requires]
python_version = "3.10"

[scripts]
build = "python -m build"
clean = "rm -r build dist src/repose.egg-info"
cli = "python -m src.cli"
cloudput = "python -m src.cloudput.cloudput"
format = "black -l 80 src"
lint = "flake8 --max-line-length 80 src"
main = "python -m src.main"
sort = "isort --atomic src"
srgan = "python -m src.srgan.srgan"
typecheck = "mypy src"
